
*.pdb
*.dll
*.pdb
*.json
csharp/.vs/CSharp/DesignTimeBuild/.dtbcache.v2
csharp/.vs/CSharp/v16/.suo
csharp/.vs/CSharp/v16/TestStore/0/000.testlog
csharp/.vs/CSharp/v16/TestStore/0/testlog.manifest
csharp/ConsoleApp/bin/Debug/netcoreapp3.1/ConsoleApp.dll
csharp/ConsoleApp/bin/Debug/netcoreapp3.1/ConsoleApp.exe
csharp/ConsoleApp/bin/Debug/netcoreapp3.1/ConsoleApp.pdb
csharp/ConsoleApp/obj/ConsoleApp.csproj.nuget.dgspec.json
csharp/ConsoleApp/obj/Debug/netcoreapp3.1/apphost.exe
csharp/ConsoleApp/obj/Debug/netcoreapp3.1/ConsoleApp.csproj.FileListAbsolute.txt
csharp/ConsoleApp/obj/Debug/netcoreapp3.1/ConsoleApp.csprojAssemblyReference.cache
csharp/ConsoleApp/obj/Debug/netcoreapp3.1/ConsoleApp.dll
csharp/ConsoleApp/obj/Debug/netcoreapp3.1/ConsoleApp.pdb
csharp/ConsoleApp/obj/project.assets.json
csharp/ConsoleApp/obj/project.nuget.cache
csharp/ConsoleApp/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
csharp/ConsoleApp/obj/Release/netcoreapp3.1/apphost.exe
csharp/ConsoleApp/obj/Release/netcoreapp3.1/ConsoleApp.assets.cache
csharp/ConsoleApp/obj/Release/netcoreapp3.1/ConsoleApp.csproj.FileListAbsolute.txt
